{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.last %}
          <li><a>{{ breadcrumb.text }}</a></li>
      {% else  %} 
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {{ filters }}
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right or block_filter %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if thumb or description %}
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %}
      {% if categories %}
      <h3>{{ text_refine }}</h3>
          <ul class="row">
            {% for category in categories %}
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <a href="{{ category.href }}">
              <img src="{{ category.thumb }}" alt="{{ category.name }}">
              {{ category.name }}
            </a>
            </li>
            {% endfor %}
          </ul>
      {% endif %}
      {% if products %}
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">

              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}

              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>

              {% else %}

              <option value="{{ sorts.href }}">{{ sorts.text }}</option>

              {% endif %}
              {% endfor %}

            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">

              
              {% for limits in limits %}
              {% if limits.value == limit %}

              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>

              {% else %}

              <option value="{{ limits.href }}">{{ limits.text }}</option>

              {% endif %}
              {% endfor %}

            </select>
          </div>
        </div>
      </div>
      <div class="row"> {% for product in products %}
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="product-thumb">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div>
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <div class="button-group">
                <a class="btn btn-block btn-primary " href="{{ product.href }}">{{ text_more }}</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
