{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.last %}
          <li><a>{{ breadcrumb.text }}</a></li>
      {% else  %} 
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="row">
    <h1>{{ heading_title }}</h1>
  
  {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-6' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-6' %}
        {% endif %}
        <div class="{{ class }}">
        {% if thumb or images %}
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                    {% if images %}
                    {% for image in images if image.price %}
                      <figure class="col-xs-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                      <a href="{{ image.popup }}" itemprop="contentUrl" data-size="1024x1024">
                      <img src="{{ image.thumb }}" class="img-responsive" itemprop="thumbnail" alt="{{ image.alt }}" />
                      </a>
                      <figcaption itemprop="caption description">
                      {{ image.name }}
                      <br>
                      {% if image.price > 0 %}
                      <button class=" btn btn-lg btn-info" onclick="return location.href ='/index.php?route=product/offer&offer_id={{ image.offer_id }}'">
                        {{ text_pay}} {{ image.price }}</button>
                      {% else %}
                      <button class=" btn btn-lg btn-info" onclick="return location.href ='/index.php?route=product/offer&offer_id={{ image.offer_id }}'"> {{ image.price }}</button>
                      {% endif %}
                      </figcaption>
                      </figure>
                    {% endfor %}

        </div> 
        <hr class="row">        
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    {% for image in images if image.price == false %}
                      <figure class="col-xs-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                      <a href="{{ image.popup }}" itemprop="contentUrl" data-size="1024x1024">
                      <img src="{{ image.thumb }}" class="img-responsive" itemprop="thumbnail" alt="{{ image.alt }}" />
                      </a>
                      <figcaption itemprop="caption description">
                      {{ image.name }}
                      <br>
                      </figcaption>
                      </figure>
                    {% endfor %}

                    {% endif %}
        </div>
        {% endif %}

        <hr  class="row">



       

        {% if images_aditional  %}
        <div class="row">
        <div class="my-gallery " itemscope itemtype="http://schema.org/ImageGallery">
                    {% for image in images_aditional %}
                      <figure class="col-xs-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                      <a href="{{ image.popup }}" itemprop="contentUrl" data-size="1024x1024">
                      <img src="{{ image.thumb }}" class="img-responsive" itemprop="thumbnail" alt="{{ image.alt }}" />
                      </a>
                      <figcaption itemprop="caption description">
                      {{ image.name }}
           
                      </figcaption>
                      </figure>
                    {% endfor %}
        </div>
        </div>
        {% endif %}
      </div>

        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-6' %}
        {% endif %}
        <div id="product" class="{{ class }}">
        {{ price }} 
        
        <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_wishlist }}" onclick="view_wishlist.add('{{ view_id }}');"><i class="fa fa-heart"></i></button>

          <div class="">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tab_description">{{ tab_description }}</a>
              </h4>
            </div>
            <div id="tab_description" class="panel-collapse collapse in">
              <div class="panel-body">
                {{ description }}
              </div>
            </div>
          </div>
          {% if attribute_groups %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tab_attribute">{{ tab_attribute }}</a>
              </h4>
            </div>

            <div id="tab_attribute" class="panel-collapse collapse">
              <div class="panel-body">
                {% if attribute_groups %}
                  <div class="tab-pane" id="tab-specification">
                    <table class="table table-bordered">
                      {% for attribute_group in attribute_groups %}
                      <thead>
                        <tr>
                          <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                      {% for attribute in attribute_group.attribute %}
                      <tr>
                        <td>{{ attribute.name }}</td>
                        <td>{{ attribute.text }}</td>
                      </tr>
                      {% endfor %}
                      {% if manufacturer %}
                      <tr>
                        <td>{{ text_manufacturer }}</td>
                        <td><a href="{{ manufacturers }}">{{ manufacturer }}</a></td>
                      </tr>
                      {% endif %}
                      <tr>
                        <td>{{ text_model }}</td>
                        <td>{{ model }}</td>
                      </tr>
                      <tr>
                        <td>{{ text_stock }}</td>
                        <td>{{ stock }}</td>
                      </tr>
                      {% if package_product %}
                      <tr>
                      {% for package in package_product %}
                      <td>{{ package.name }} {{ package.volume }} {{ package.name }} {{ package.volume }} </td>
                      <br>
                      {% endfor %}
                      </tr>
                      {% endif %}

                        </tbody>
                      {% endfor %}
                    </table>
                  </div>
                  {% endif %}
              </div>
            </div>
          </div>
          {% endif %}


          {% if video_instruction %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tab_video_instruction">{{ tab_video_instruction }}</a>
              </h4>
            </div>
            <div id="tab_video_instruction" class="panel-collapse collapse">
              <div class="panel-body">
                  <div class="tab-pane tab-video-assembly " id="tab-video-assembly">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="100%" height="auto" src="{{ video_instruction }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          {% endif %}


          {% if video_assembly %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tab_video_assembly">{{ tab_video_assembly }}</a>
              </h4>
            </div>
            <div id="tab_video_assembly" class="panel-collapse collapse">
              <div class="panel-body">
                  <div class="tab-pane tab-video-instruction " id="tab-video-instruction">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="100%" height="auto" src="{{ video_assembly }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if options %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#text_option">{{ text_option }}</a>
              </h4>
            </div>
            <div id="text_option" class="panel-collapse collapse">
              <div class="panel-body">
                {% for option in options %}
                  {% if option.type == 'select' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                      <option value="">{{ text_select }}</option>
                      {% for option_value in option.product_option_value %}
                      <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price_prefix }}{{ option_value.price }})
                      {% endif %} </option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                  {% if option.type == 'radio' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label">{{ option.name }}</label>
                    <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                      <div class="radio">
                        <label>
                          <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                          {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                          {{ option_value.name }}
                          {% if option_value.price %}
                          ({{ option_value.price_prefix }}{{ option_value.price }})
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                  </div>
                  {% endif %}
                  {% if option.type == 'checkbox' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label">{{ option.name }}</label>
                    <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                          {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                          {{ option_value.name }}
                          {% if option_value.price %}
                          ({{ option_value.price_prefix }}{{ option_value.price }})
                          {% endif %} </label>
                      </div>
                      {% endfor %} </div>
                  </div>
                  {% endif %}
                  {% if option.type == 'text' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                  </div>
                  {% endif %}
                  {% if option.type == 'textarea' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                  </div>
                  {% endif %}
                  {% if option.type == 'file' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label">{{ option.name }}</label>
                    <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                    <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                  </div>
                  {% endif %}
                  {% if option.type == 'date' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-group date">
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                      </span></div>
                  </div>
                  {% endif %}
                  {% if option.type == 'datetime' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-group datetime">
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span></div>
                  </div>
                  {% endif %}
                  {% if option.type == 'time' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                    <div class="input-group time">
                      <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                      </span></div>
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div> 
        </div>
          
         
           </div>
      </div>
      {% if products %}
      <h3>{{ text_related }}</h3>
      <div class="row"> {% set i = 0 %}
        {% for product in products %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-8 col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-6 col-md-4' %}
        {% else %}
        {% set class = 'col-xs-6 col-sm-3' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ product.href }}">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
            <div class="button-group">
                <a class="btn btn-block btn-primary " href="{{ product.href }}">{{ text_more }}</a>
            </div>

          </div>
        </div>
        {% if column_left and column_right and (i + 1) % 2 == 0 %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
        <div class="clearfix visible-md"></div>
        {% elseif (i + 1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %} </div>
        {% endif %}
        {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
