{{ text_welcome }}

{% if not approval %}
{{ text_login }}

{{ login }}

{{verification_code}}

{{ text_service }}

{{ text_thanks }}
{{ store }}
{% else %}
{{ text_approval }}

{{ login }}

<a href="index.php?route=account/verification&verification_code={{verification_code}}" target="_blank"></a>

{{ text_thanks }}
{{ store }}
{% endif %}