{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      <p></p>













      <div class="text-center"><h2 style="text-align: center;"><span style="color: rgb(0, 0, 0);">Крупнейший в регионе торгово-строительный центр "Молодёжный"! Всё для строительства и отделки! Предоставляем огромный выбор, лучшие цены и качество с гарантией от производителя</span></h2>
      
      
      
      
      
      
      
      <p style="text-align: justify; margin-bottom: 12pt; line-height: 1; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="font-size: 15.3333px; font-family: Tahoma; color: rgb(0, 0, 0);">У нас есть все для наружных и отделочных(фасадных) работ, и строительства. с нами вы сможете полностью построить дом от фундамента до конька на крыше. Мы предлагаем все виды фасадных,кровельных,&nbsp; изоляционных материалов.</span></p>
      
      
      
      
      
      
      
      <div class="row"><div class="row">    <div class="col-sm-4">   <div class="icon-box"><span style="color: rgb(0, 0, 0);"><i class="material-design-search100"></i>                    </span></div>
      
      
      
      
      
      
      
           <div class="count-box"><h5><span style="font-family: Tahoma; font-weight: 700; color: rgb(0, 0, 0);">36 000<br></span><span style="font-family: Tahoma; font-weight: 700; color: rgb(0, 0, 0);">квадратных метров, общая площадь нашего центра</span></h5>
      
      
      
      
      
      
      
       <h5><span style="color: rgb(0, 0, 0);"><span style="font-family: Tahoma;">Самая большая торгово-строительная база строительных и отделочных материалов в Хакасии и юге Красноярского края.</span></span></h5>
      
      
      
      
      
      
      
              </div>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
          <div class="col-sm-4">    <div class="icon-box"><span style="color: rgb(0, 0, 0);"><i class="fa fa-truck"></i>                                </span></div>
      
      
      
      
      
      
      
          <div class="count-box"><h5><span style="color: rgb(0, 0, 0); font-weight: bold;">25 автомобилей&nbsp;</span><span style="font-weight: bold; color: rgb(0, 0, 0);">в собственном автопарке</span></h5>
      
      
      
      
      
      
      
      <h5><span style="color: rgb(0, 0, 0);"><span style="font-family: Tahoma;">Собственный автопарк позволяет быстро и значительно дешевле&nbsp; услуг грузоперевозчиков организовать доставку.&nbsp;&nbsp;</span></span></h5>
      
      
      
      
      
      
      
              </div>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
      <div class="col-sm-4">     <div class="icon-box"><span style="font-family: Tahoma; color: rgb(0, 0, 0);"><i class="material-design-thumb54"></i>                    </span></div>
      
      
      
      
      
      
      
         <div class="count-box"><h5><span style="color: rgb(0, 0, 0); font-family: Tahoma; font-weight: 700;">Прямые поставки от производителя</span></h5>
      
      
      
      
      
      
      
      <h5><span style="font-family: Tahoma; color: rgb(0, 0, 0);">Наш центр является региональным дилерами лидеров производства стройматериалов, как отечественных: Металл Профиль, Технониколь Полигаль, Восток, Байкальский газобетон, Лён&amp;Джут, Термит, ИЗОСПАН,</span></h5>
      
      
      
      
      
      
      
      <h5><span style="font-family: Tahoma; color: rgb(0, 0, 0);">так и зарубежных: Дёке (Германия), GRAND LINE (Америка), Изовер (Германия), Ондулин (Франция).</span></h5>
      
      
      
      
      
      
      
              </div>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <blockquote style="border: none; padding: 0px;"><div class="text-center"><div class="row"><div class="row"><div class="col-sm-10 col-sm-offset-1"></div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <!--<div class="text-center"><div class="row"><div style="text-align: left;"><span style="color: rgb(0, 0, 0);">&nbsp;<img src="https://stroicentr-molodezhnyi.ru/image/catalog/baza/9.jpg" style="   width: 95%;"></span></div>
      
      
      
      
      
      
      
      --><div style="text-align: left;"><span style="color: rgb(0, 0, 0);"><br></span></div>
      
      
      
      
      
      
      
      
      
      
      
      <div style="text-align: left;"><span style="color: rgb(0, 0, 0);">
      
      
      <br></span></div>
      
      
      
      
      
      
      <video autoplay="" controls="true" muted="" id="myvideo" width="100%" height="auto" style="background:black">
        <source class="active" src="20 сек.mp4" type="video/mp4">
        <source src="Instagram_1.mp4" type="video/mp4">
      </video>
      
      <script>
      var myvid = document.getElementById('myvideo');
      
      myvid.addEventListener('ended', function(e) {
        // get the active source and the next video source.
        // I set it so if there's no next, it loops to the first one
        var activesource = document.querySelector("#myvideo source.active");
        var nextsource = document.querySelector("#myvideo source.active + source") || document.querySelector("#myvideo source:first-child");
        
        // deactivate current source, and activate next one
        activesource.className = "";
        nextsource.className = "active";
        
        // update the video source and play
        myvid.src = nextsource.src;
        myvid.play();
      });
      </script>
      
      
      
      <div style="text-align: left;"><p><span style="color: rgb(0, 0, 0);"><span style="font-family: Tahoma;">
        &nbsp; &nbsp; ТСЦ "Молодежный" является лидером в сегменте кровельных и фасадных материалов в Хакасии благодаря сбалансированному товарному ассортименту, доступным ценам, оперативности отгрузок и поставок, 
        высокому профессиональному уровню работников компании.<br></span><span style="font-family: Tahoma;">&nbsp; &nbsp;&nbsp;</span></span><span style="font-family: Tahoma;">ТСЦ "Молодежный"&nbsp;</span>
        <span style="color: rgb(0, 0, 0);"><span style="font-family: Tahoma;">предлагает большой ассортимент материалов и комплектующих, готовые решения для строительства любых объектов. Кроме профнастила, металлочерепицы, кровли или металлосайдинга, мы предложим вам крепеж, доборные элементы, уплотнители, профили ЛСТК, легкие металлоконструкции. В нашем каталоге более десяти тысяч наименований товаров.</span></span></p>
      
      
      
      
      
      
      
      <div><span style="color: rgb(0, 0, 0);"><br></span></div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <div style="text-align: left;"><span style="font-size: 11.5pt; line-height: 107%; font-family: Arial, sans-serif; color: rgb(0, 0, 0);"></span></div>
      
      
      
      
      
      
      
      <div class="text-center"><div class="row"><h1 style=""><span style="font-weight: bold; font-family: Tahoma; color: rgb(0, 0, 0);">Где находимся</span></h1>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <p style="text-align: left;"><span style="color: rgb(0, 0, 0);"><br></span></p>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <div class="col-sm-6">  <br><span style="color: rgb(0, 0, 0); font-family: Tahoma;">р. Хакасия г. Абакан ул. Молодежная 4П.&nbsp;</span><br><br></div>
      
      
      
      
      
      
      
      <div class="col-sm-6"><span style="color: rgb(0, 0, 0);"><a class="btnproezd" href="/index.php?route=information/information&information_id=9" target="_blank" style="font-family: Tahoma;"> как проехать</a><br></span></div>
      
      
      
      
      
      
      
      <span style="color: rgb(0, 0, 0);"><br><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afb483511bf152834cdb325141addb53b369f9d25cc5450eee52f729928beef0c&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe><br></span><div class="text-center"><div class="text-center"><span style="color: rgb(0, 0, 0);"><br></span></div>
      
      
      
      
      
      
      
      <div class="text-center"><span style="color: rgb(0, 0, 0);"><br></span></div>
      
      
      
      
      
      
      
      <div class="text-center"><h1 style=""><span style="font-weight: bold; font-family: Tahoma; color: rgb(0, 0, 0);">Наш второй погрузочный пункт на Складской 11</span></h1>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <div class="text-center"><span style="color: rgb(0, 0, 0);"><br></span></div>
      
      
      
      
      
      
      
      <div class="row">    <div class="col-sm-3">        <figure class="thumbnail featured-thumbnail">            <span style="color: rgb(0, 0, 0);"><a title="Robert Johnson"><img alt="Robert Johnson" src="/image/catalog/baza/skladskay/2.jpg"></a>        </span></figure>        <h5><a title="Robert Johnson" style="font-family: Tahoma; color: rgb(0, 0, 0);">Профлист и металлопрокат</a></h5>
      
      
      
      
      
      
      
              <p><span style="color: rgb(0, 0, 0);"><br></span></p>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
        <div class="col-sm-3">        <figure class="thumbnail featured-thumbnail">            <span style="color: rgb(0, 0, 0);"><a title="Jessica Priston"><img alt="Jessica Priston" src="/image/catalog/baza/skladskay/3.jpg"></a>        </span></figure>        <h5><a title="Jessica Priston" style="font-family: Tahoma; color: rgb(0, 0, 0);"> Кровельные материалами</a></h5>
      
      
      
      
      
      
      
              <p></p>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
          <div class="col-sm-3">        <figure class="thumbnail featured-thumbnail">            <span style="color: rgb(0, 0, 0);"><a title="Sam Kromstain"><img alt="Sam Kromstain" src="/image/catalog/baza/skladskay/1.jpg"></a>        </span></figure>        <h5><a title="Sam Kromstain" style="font-family: Tahoma; color: rgb(0, 0, 0);">Стеновые и кладочные материалы</a></h5>
      
      
      
      
      
      
      
              <p></p>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
          <div class="col-sm-3">        <figure class="thumbnail featured-thumbnail">            <span style="color: rgb(0, 0, 0);"><a title="Edna Barton"><img alt="Edna Barton" src="/image/catalog/baza/skladskay/4.jpg"></a>        </span></figure>        <h5><a title="Edna Barton" style="font-family: Tahoma; color: rgb(0, 0, 0);">Гидро и пароизоляция</a></h5>
      
      
      
      
      
      
      
              <p></p>
      
      
      
      
      
      
      
          </div>
      
      
      
      
      
      
      
      </div>
      
      
      
      
      
      
      
      <h1 style="text-align: center;"><span style="font-weight: bold; font-family: Tahoma; color: rgb(0, 0, 0);">Где находимся</span></h1>
      
      
      
      
      
      
      
      <div class="col-sm-6">  <span style="color: rgb(0, 0, 0);"><br><span style="font-family: Tahoma;">р. Хакасия г. Абакан ул. Складская 11;</span><br><br></span></div>
      
      
      
      
      
      
      
      <div class="col-sm-6"><span style="color: rgb(0, 0, 0);"><a class="btnproezd" href="/index.php?route=information/information&information_id=8" "="" target="_blank" style="font-family: Tahoma;"> как проехать</a><br></span></div>
      
      
      
      
      
      
      
      <span style="color: rgb(0, 0, 0);"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb0544f49efc71b9d0fd8684c404176fb0bc479bfa9513fc2433091ec1fcfac5&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe></span></div>
      
      
      
      
      
      
      
      </blockquote>
      
      

  


      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
