{{ header }}
<div class="container-fluid" style="background-image: url('https://krot.info/uploads/posts/2021-01/1611753589_10-p-fon-stroimateriali-13.jpg'); background-size: cover; height:800px; background-repeat: no-repeat;">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="container">
   <div class="row"></div>
    <div class="row">
      <div class="col-md-12"><h1><strong>{{ store }}</strong></h1></div>
    </div>
    <div class="row">
      <h2><div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>
          <a class="products-name-color" href="tel:+7 (908) 326–62–66">+7 (908) 326-62-66</a>
          <br>
          <a class="products-name-color" href="tel:+7(913)-541-30-00">+7 (913) 541-30-00</a>
          <br>
          <a class="products-name-color" href="tel:+79832775050">+7 (983) 277-50-50</a>
          <br>
          <a class="products-name-color" href="tel:+7(913)-444-07-07">+7 (913) 444-07-07- оптовый отдел:</a> 
          <br>              
          <br />
          <br />
          {{ address }}
          <br />
        {% if mail %}
        <strong>{{ text_mail }}</strong><br>
          <a  class="products-name-color" href="mailto:{{ mail }}">{{ mail }}</a>
        {% endif %}
        </h2>
        <div class="col-sm-3"></div>        
        <div class="col-sm-3">
          <ul class="list-unstyled">
            <li>{{ form_callback }}</li>  
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color:#ebebeb">
  <hr class="divider">      
  <div class="container" style="background-color:#ebebeb">
    <div class="row">
      <div class="col-sm-6">
        <h1><p class="text-center">Большой выбор <br>стройматериалов <br>в наличии</p></h1>
        <br>    
        <div class="panel-group" id="accordion">
          <!-- 1 панель -->
          <div class="panel panel-default">
            <!-- Заголовок 1 панели -->
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h3>Доставка<h3></a>
              </h2>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <!-- Содержимое 1 панели -->
              <div class="panel-body">
                <h4>
                  <p>Filler</p>
                </h4>
              </div>
            </div>
          </div>
          <!-- 2 панель -->
          <div class="panel panel-default">
            <!-- Заголовок 2 панели -->
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h3>Расчёт</h3></a>
              </h2>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <!-- Содержимое 2 панели -->
              <div class="panel-body">
              <h4>
                <p>Filler</p>
              </h4>
              </div>
            </div>
          </div>
          <!-- 3 панель -->
          <div class="panel panel-default">
            <!-- Заголовок 3 панели -->
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h3>Оплата при получении</h3></a>
              </h2>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <!-- Содержимое 3 панели -->
              <div class="panel-body">
              <h4>
                <p>Filler</p>
              </h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <img src="https://цкф-регион.рф/magazini/assets/images/1.jpg" class="img-responsive">
      </div>   
    </div>
  </div>
  <hr class="divider">   
</div>
<hr class="divider">     
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="https://цкф-регион.рф/magazini/assets/images/1.jpg" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <img src="https://цкф-регион.рф/magazini/assets/images/2.jpg" class="img-responsive">
    </div>
  </div>               
</div>

{% if additional_images.thumbs %}
  <div class="container">               
    <hr style="border-color: red; width: 25%; border-width: 5px">
  </div>
  <hr class="divider">

  <div class="container">
    {% for image in additional_images.thumbs %}
      <div class="col-sm-3">
        <img src="{{ image }}" class="img-responsive open-photo-swiper" data-index="{{ loop.index0 }}" id="additionalImageBlock1-{{ loop.index0 }}">
      </div>  
    {% endfor %}
  </div>

  <div class="container">               
    <hr style="border-color: red; width: 25%; border-width: 5px">
  </div>
  <hr class="divider">
{% endif %}

<div class="container">               
  <div class="row">
    <div class="col-sm-12"><h2><p class="text-center">Складская территория базы позволяет держать  в наличии все необходимые материалы и организовать удобные подъезд и погрузку.</p></h2></div> 
  </div>
</div>

{% if additional_images.thumbs %}

  <div class="container">               
    <hr style="border-color: red; width: 25%; border-width: 5px">
  </div>
  <hr class="divider">

  <div class="container">
    {% for image in additional_images.thumbs %}
      <div class="col-sm-3">
        <img src="{{ image }}" class="img-responsive open-photo-swiper" data-index="{{ loop.index0 }}" id="additionalImageBlock2-{{ loop.index0 }}">
      </div>
    {% endfor %}
  </div>

  <div class="container">               
    <hr style="border-color: red; width: 25%; border-width: 5px">
  </div>
  <hr class="divider">

{% endif %}

<div class="container">               
  <div class="row">
    <div class="col-sm-12"><h2><p class="text-center">Материалы которые требуют защиту от осадков или особых условий содержания. Хранятся в крытых складах, для сохранности материалов </p></h2></div> 
  </div>
</div>

<div class="container">               
  <hr style="border-color: red; width: 25%; border-width: 5px">
</div>
<hr class="divider">

<div class="container">               
  <div class="row">
    <div class="col-sm-12">
      <img src="https://цкф-регион.рф/magazini/assets/images/1%20(11).jpg" class="img-responsive center-block">
    </div> 
  </div>
</div>
<hr class="divider">

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afb483511bf152834cdb325141addb53b369f9d25cc5450eee52f729928beef0c&amp;source=constructor" width="80%" height="500" frameborder="0" class="center-block"></iframe>
      
    {{ content_bottom }}</div>
    {{ column_right }}</div>
    </div>
  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. --> 

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>

var openPhotoSwiper = function() {

  var pswpElement = document.querySelectorAll('.pswp')[0];
    
  // build items array
  var items = [];
  {% for image in additional_images.popups %}
    items.push({
              src: '{{ image }}',
              h: {{ popup_size.height }},
              w: {{ popup_size.width }}
              });   
  {% endfor %}

  var options = {

      index: parseInt(this.dataset.index),
  };

  // Initializes and opens PhotoSwipe
  var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
  gallery.init();
};

$(".open-photo-swiper").click(openPhotoSwiper);

</script>
{{ footer }}
