{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}


      <div id="content" class="col-sm-12">
        <h1>Доставка стройцентр Молодежный</h1>
        <div class="delivery_page"><h4><p style="font-size: 13px;">У нас в магазине Вы можете оформить доставку материалов на дом.</p><p style="font-size: 13px;">Доставка на дом осуществляется в соответствии с графиком по указанному адресу при оформлении услуги по доставке. Сотрудники магазина службы доставки заблаговременно согласует время прибытия курьера/экспедитора. Осматривайте товар на соответствие, наличие видимых повреждений, целостности упаковки.</p><p style="font-size: 13px;">При формировании стоимости доставки учитываются удаленность адреса назначения от базы.</p><p style="font-size: 13px;"><br></p><p style="font-size: 13px;">Подробности по стоимости уточняйте в вашем магазине.</p></h4></div>
  
  
  
  
  
  
  
  <style>
    @media
      only screen 
      and (max-width: 760px), (min-device-width: 768px) 
      and (max-device-width: 1024px)  {
  
      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr {
        display: block;
  
      }
  
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
  
      tr {
        margin: 0 0 1rem 0;
      }
        
      tr:nth-child(odd) {
        background: #ccc;
      }
      
      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }
  
      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
  
      
  
    }
  
  
  .ramka{
  
      font-size: 20px;
      border: 1px solid black;
      padding: 4px;
  }
  
  </style></div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
