  <div id="banner_custom{{ module }}" class="">
    <div class="">{% for banner in banners %}
      <div class="col-xs-{{ columns }}">
        {% if banner.link %}
        <a href="{{ banner.link }}">
          <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
        </a>
        <a href="{{ banner.link }}" class="btn btn-primary btn-lg banner_custom-button">{{ banner.title }}</a>
        {% else %}
        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>